<div class="container">
  <h1><%= @movie.title %></h1><br>

  <p>Genre: <%= @movie.genre %></p>
  <p>Plot: <%= @movie.plot %></p>
  <p>Director: <%= @movie.director %></p>
  <p>Cast: <%= @movie.cast %></p>
  <p>Year: <%= @movie.year %></p>
</div>


<div class="container">
  <%= link_to "New Comments", new_movie_review_path(@movie)  %>
</div>

<div class = "container">
    <% if @movie.reviews %>
      <% @movie.reviews.each do |review| %>
          <p> <span>Rating: <%= review.rating %></span> | <%= review.comment %> </p> 
        <% end %>
    <% end %>
</div>
