<div class="container">
  <h2><%= @movie.title %></h2>
  <% if @movie.poster != "N/A" %>
    <div class="">
      <%= image_tag(@movie.poster)%>
    </div>
  <% end %>
  <p>Genre: <%= @movie.genre %></p>
  <p>Plot: <%= @movie.plot %></p>
  <p>Director: <%= @movie.director %></p>
  <p>Cast: <%= @movie.cast %></p>
  <p>Year: <%= @movie.year %></p>
  <p>Number of favorites: <%= @movie.favorites.count %></p>
</div>

<div class="review-container container">
  <% if @movie.reviews.any? %>
    <h3>Reviews:</h3>
    <% @movie.reviews.each do |review| %>
      <p> <span>Rating: <%= review.rating %></span> | <%= review.comment %> | Reviewed by <%= link_to "#{review.user.username}", user_path(review.user) %></p>
      <% if review.user == current_user %>
        <%= link_to "Edit Review", edit_review_path(review) %>
        <%= link_to "Delete Review", review_path(review), method: :delete %>
      <% end %>
    <% end %>
    <p>Average Rating: <%= @movie.average_rating %></p>
  <% end %>

  <% if logged_in? %>
    <% if current_user.favorite_movies.exists?(@movie) %>
      <%= link_to 'Unfavorite', favorite_path(@movie.favorites.find_by(user: current_user)), class: "waves-effect waves-light white-text btn indigo lighten-1", method: :delete %>
    <% else %>
      <%= form_for([@movie, @movie.favorites.build]) do |f| %>
        <p class="waves-effect waves-light white-text btn indigo lighten-1">
          <%= f.submit "Favorite" %>
        </p>
      <% end %>
    <% end %></br>
    <% unless current_user.reviewed_movies.exists?(@movie) %>
      <%= link_to "New Review", new_movie_review_path(@movie), class: "waves-effect waves-light white-text btn indigo lighten-1" %>
    <% end %>
  <% end %>
</div>
