<div class="container">
  <h2>Edit Review</h2>

  <% if @errors %>
    <div id="error_explanation">
      <p>
        <strong><%= pluralize(@errors.count, "error") %> prohibited this review from being saved:</strong>
      </p>
      <ul>
        <% @errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @review do |f| %>
    <p>
      <%= f.label :rating %>
      <%= f.text_field :rating %>
    </p>
    <p>
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </p>
    <p>
      <%= f.submit "Edit review" %>
    </p>
  <% end %>
</div>
