<!DOCTYPE html>
<html>
  <head>
    <title>Getflix</title>
    <%= csrf_meta_tags %>

    <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
     <%= stylesheet_link_tag    'application', media: 'all' %>

     <%= javascript_include_tag 'application' %>
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper indigo lighten-1">
        <a href="/" class="brand-logo">Getflix</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if logged_in? %>
            <li><%= link_to "#{current_user.username}", user_path(current_user) %></li>
            <li><%= link_to "Log Out", session_path(session), method: :delete %></li>
          <% else %>
            <li><%= link_to "Register", new_user_path %></li>
            <li><%= link_to "Log In", new_session_path %></li>
          <% end %>
          <li><%= link_to "Home", root_path %></li>
        </ul>
      </div>
    </nav>
    <main class="main">
      <%= yield %>
    </main>
    <footer class="page-footer indigo lighten-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text"></h5>
            <p class="grey-text text-lighten-4">An IMDB clone coded at Dev Bootcamp.</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2016 Code by Arshdeep Singh, Evan Renaud, Melanie Gershman, and Sherianne Bolling
        </div>
      </div>
    </footer>
  </body>
</html>
